<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Movie Admin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<table data-vertable="ver1">
						<thead>
							<tr class="row100 head">
								
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=name&direction=' + ${invertDirection}}">Phim
									</a>
								</th>
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=language&direction=' + ${invertDirection}}">Ngôn Ngữ
									</a>
								</th>
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=age&direction=' + ${invertDirection}}">Độ Tuổi
									</a>
								</th>
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=country&direction=' + ${invertDirection}}">Quốc Gia
									</a>
								</th>
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=time&direction=' + ${invertDirection}}">Thời Lượng
									</a>
								</th>
								<th class="column100 column7" data-column="column3">Hình</th>
								
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=type&direction=' + ${invertDirection}}">Thể Loại
									</a>
								</th>
								<th>
									<a
									th:href="@{'/page/' + ${currentPage} + '?sortName=descript&direction=' + ${invertDirection}}">Mô tả
									</a>
								</th>
								<th class="column100 column4" data-column="column4">Cập nhật</th>
								<th class="column100 column5" data-column="column5">Xóa</th>
							</tr>
						</thead>
						<tbody>
							<tr class="row100" th:each="movies : ${listMovies}">
								<td class="column100 column1" data-column="column1"
									th:text="${movies.name}">Phim</td>
								<td class="column100 column2" data-column="column2"
									th:text="${movies.language}">Ngôn Ngữ</td>
								<td class="column100 column3" data-column="column3"
									th:text="${movies.age}">Độ Tuổi</td>
								<td class="column100 column4" data-column="column4"
									th:text="${movies.country}">Quốc Gia</td>
								<td class="column100 column5" data-column="column5"
									th:text="${movies.time}">Thời Lượng</td>
								<td><img style="width: 200px; height: 200px"
									alt="movies image" th:src="@{${movies.image}}"></td>
								<td class="column100 column8" data-column="column8"
									th:text="${movies.type}">Thể Loại</td>
								<td class="column100 column8" data-column="column9"
									th:text="${movies.descript}">Mô Tả</td>
								<td class="column100 column9" data-column="column10"><a
									th:href="@{/edit/{id}(id=${movies.movieID})}">Cập nhật</a></td>
								<td class="column100 column10" data-column="column11"><a
									th:href="@{/delete/{id}(id=${movies.movieID})}">Xóa</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:if="${totalPages > 1}">
					Tổng số Phim: [[${totalItems}]]
					&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; <a th:if="${currentPage > 1}"
						th:href="@{'/page/1' + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang đầu</a> 
						<span th:unless="${currentPage > 1}">Trang đầu</span>
					&nbsp;&nbsp;
					 <a th:if="${currentPage > 1}"
						th:href="@{'/page/' + ${currentPage - 1} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang trước</a> 
						<span th:unless="${currentPage > 1}">Trang trước</span> &nbsp;&nbsp;
						 <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> 
						&nbsp;
					</span> <a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang kế</a> 
						 <span th:unless="${currentPage < totalPages}">Trang kế</span>
						 	&nbsp;&nbsp; 
						 <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang cuối</a>
						 <span th:unless="${currentPage < totalPages}">Trang cuối</span>
				</div>
				<a href="new">Thêm Phim</a>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>